apiVersion: v1
kind: Service
metadata:
    name: {{ .Values.appName }}-service
    labels:
        app: {{ .Values.frontend.name }}
spec:
    type: ClusterIP
    selector:
        app: {{ .Values.frontend.name }}
    ports:
{{- toYaml .Values.frontend.service.ports | nindent 8 }}