name: build images

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
    paths:
      - "src/**"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: grae888
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: extract metadata frontend
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: grae888/roommate-frontend
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      - name: build and push frontend
        uses: docker/build-push-action@v6
        with:
          context: src/app/frontend
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max