name: deploy infra

on:
  push:
    branches:
      - main
      - develop
    paths:
      - "infra/cfn/cognito.yaml"
      - "infra/cfn/networking.yaml"
      - "infra/cfn/eks.yaml"
      - "infra/cfn/karpenter.yaml"
      - ".github/workflows/deploy-infra.yaml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      env: ${{ steps.set-env.outputs.env }}
    steps:
      - name: Determine environment
        id: set-env
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "env=production" >> $GITHUB_OUTPUT
          else
            echo "env=development" >> $GITHUB_OUTPUT
          fi

  build-image:
    uses: ./.github/workflows/build-images.yaml
    secrets: inherit
  
  deploy-infra-cfn:
    needs: set-env
    uses: ./.github/workflows/deploy-infra-cfn.yaml
    secrets: inherit
    with:
      environment: ${{ needs.set-env.outputs.env }}

  deploy-infra-karpenter:
    needs: [set-env, deploy-infra-cfn]
    uses: ./.github/workflows/deploy-infra-karpenter.yaml
    secrets: inherit
    with:
      environment: ${{ needs.set-env.outputs.env }}
      cluster_name: ${{ needs.deploy-infra-cfn.outputs.cluster_name }}
      controller_role_arn: ${{ needs.deploy-infra-cfn.outputs.controller_role_arn }}
      node_role: ${{ needs.deploy-infra-cfn.outputs.node_role }}
      node_role_name: ${{ needs.deploy-infra-cfn.outputs.node_role_name }}

  deploy-infra-lb-controller:
    needs: [set-env, deploy-infra-cfn, deploy-infra-karpenter]
    uses: ./.github/workflows/deploy-infra-lb-controller.yaml
    secrets: inherit
    with:
      environment: ${{ needs.set-env.outputs.env }}
      cluster_name: ${{ needs.deploy-infra-cfn.outputs.cluster_name }}
      vpc_id: ${{ needs.deploy-infra-cfn.outputs.vpc_id }}

  deploy-infra-app:
    needs: [set-env, build-image, deploy-infra-cfn, deploy-infra-lb-controller]
    uses: ./.github/workflows/deploy-infra-app.yaml
    secrets: inherit
    with:
      environment: ${{ needs.set-env.outputs.env }}
      cluster_name: ${{ needs.deploy-infra-cfn.outputs.cluster_name }}
      certificate_arn: ${{ needs.deploy-infra-cfn.outputs.certificate_arn }}
      user_pool_arn: ${{ needs.deploy-infra-cfn.outputs.user_pool_arn }}
      user_pool_client_id: ${{ needs.deploy-infra-cfn.outputs.user_pool_client_id }}
      user_pool_domain_prefix: ${{ needs.deploy-infra-cfn.outputs.user_pool_domain_prefix }}