name: deploy infra

on:
  push:
    branches:
      - main
      - develop
    paths:
      - "infra/cfn/networking.yaml"
      - "infra/cfn/eks.yaml"
      - "infra/cfn/karpenter.yaml"
      - ".github/workflows/deploy-infra.yaml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      env: ${{ steps.set-env.outputs.env }}
    steps:
      - name: Determine environment
        id: set-env
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "env=production" >> $GITHUB_OUTPUT
          else
            echo "env=development" >> $GITHUB_OUTPUT
          fi
  deploy:
    needs: set-env
    runs-on: ubuntu-latest
    environment: ${{ needs.set-env.outputs.env }}

    env:
      AWS_REGION: ap-southeast-2
      NETWORKING_STACK_NAME: roommate-networking-${{ vars.ENV_SHORTHAND }}
      EKS_STACK_NAME: roommate-eks-${{ vars.ENV_SHORTHAND }}
      KARPENTER_STACK_NAME: roommate-karpenter-${{ vars.ENV_SHORTHAND }}

    steps:
      - name: deploy networking cfn
        run: echo ${{ needs.set-env.outputs.env }}

      - name: checkout
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: deploy networking cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${NETWORKING_STACK_NAME}" \
            --template-file infra/cfn/networking.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset \
            --parameter-overrides \
              Env="${{ vars.ENV_SHORTHAND }}" \
              VpcCidr="${{ vars.VPC_CIDR }}"

      - name: deploy eks cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${EKS_STACK_NAME}" \
            --template-file infra/cfn/eks.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
            Env="${{ vars.ENV_SHORTHAND }}" \
            NetworkStackName="${NETWORKING_STACK_NAME}" \
            NodeInstanceType="${{ vars.NODE_INSTANCE_TYPE }}" \
            NodeDesiredSize="${{ vars.NODE_DESIRED_SIZE }}" \
            NodeMinSize="${{ vars.NODE_MIN_SIZE }}" \
            NodeMaxSize="${{ vars.NODE_MAX_SIZE }}"
      
      - name: deploy karpenter cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${KARPENTER_STACK_NAME}" \
            --template-file infra/cfn/karpenter.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
            EksStackName="${EKS_STACK_NAME}"

      - name: deploy karpenter controller
        run: |
          echo "getting cluster name (${EKS_STACK_NAME}-ClusterName)..."
          CLUSTER_NAME=$(aws cloudformation describe-stacks \
          --stack-name ${EKS_STACK_NAME} \
          --query "Stacks[0].Outputs[?OutputKey=='${EKS_STACK_NAME}-ClusterName'].OutputValue" \
          --output text)
          echo "cluster name: '$CLUSTER_NAME'"

          echo "getting karpenter controller role arn (${KARPENTER_STACK_NAME}-KarpenterControllerRoleArn)..."
          CONTROLLER_ROLE_ARN=$(aws cloudformation describe-stacks \
          --stack-name ${KARPENTER_STACK_NAME} \
          --query "Stacks[0].Outputs[?OutputKey=='${KARPENTER_STACK_NAME}-KarpenterControllerRoleArn'].OutputValue" \
          --output text)
          echo "karpenter controller role arn: '$CONTROLLER_ROLE_ARN'"

          echo "getting all outputs for ${EKS_STACK_NAME}..."
          EKS_STACK_OUTPUTS=$(aws cloudformation describe-stacks \
          --stack-name ${EKS_STACK_NAME} \
          --output text)
          echo "${EKS_STACK_NAME} outputs: $EKS_STACK_OUTPUTS"

          echo "getting all outputs for ${KARPENTER_STACK_NAME}..."
          KARPENTER_STACK_OUTPUTS=$(aws cloudformation describe-stacks \
          --stack-name ${KARPENTER_STACK_NAME} \
          --output text)
          echo "${KARPENTER_STACK_NAME} outputs: $KARPENTER_STACK_OUTPUTS"