name: deploy to aws

on:
  push:
    branches:
      - main
      - develop
    paths:
      - "infra/cfn/networking.yaml"
      - "infra/cfn/eks.yaml"
      - ".github/workflows/deploy-to-aws.yaml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      env: ${{ steps.set-env.outputs.env }}
    steps:
      - name: Determine environment
        id: set-env
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "env=production" >> $GITHUB_OUTPUT
          else
            echo "env=development" >> $GITHUB_OUTPUT
          fi
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ needs.set-env.outputs.env }}

    env:
      AWS_REGION: ap-southeast-2
      NETWORKING_STACK_NAME: roommate-networking
      EKS_STACK_NAME: roommate-eks

    steps:
      - name: deploy networking cfn
        run: echo ${{ needs.set-env.outputs.env }}

      - name: checkout
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: deploy networking cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${NETWORKING_STACK_NAME}" \
            --template-file infra/cfn/networking.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset

      - name: deploy eks cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${EKS_STACK_NAME}" \
            --template-file infra/cfn/eks.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
              NetworkStackName="${NETWORKING_STACK_NAME}" \
