name: deploy to aws

on:
  push:
    branches:
      - main
    paths:
      - "infra/cfn/networking.yaml"
      - "infra/cfn/eks.yaml"
      - ".github/workflows/deploy-networking-cfn.yml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    env:
      AWS_REGION: ap-southeast-2
      NETWORKING_STACK_NAME: roommate-networking
      EKS_STACK_NAME: roommate-eks

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: deploy networking cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${NETWORKING_STACK_NAME}" \
            --template-file infra/cfn/networking.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset

      - name: deploy eks cfn
        run: |
          aws cloudformation deploy \
            --stack-name "${EKS_STACK_NAME}" \
            --template-file infra/cfn/eks.yaml \
            --region "${AWS_REGION}" \
            --no-fail-on-empty-changeset \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameters ParameterKey=NetworkStackName,ParameterValue="${NETWORKING_STACK_NAME}"