name: deploy load balancer controller

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      cluster_name:
        required: true
        type: string
      vpc_id:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    env:
      AWS_REGION: ap-southeast-2
      LB_CONTROLLER_VERSION: "2.9.0"

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: install eksctl
        run: |
          curl -sLO "https://github.com/eksctl-io/eksctl/releases/latest/download/eksctl_Linux_amd64.tar.gz"
          tar -xzf eksctl_Linux_amd64.tar.gz
          sudo mv eksctl /usr/local/bin

      - name: eks load balancer controller iam policy
        id: iam-policy
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          POLICY_NAME="AWSLoadBalancerControllerIAMPolicy"
          POLICY_ARN="arn:aws:iam::${ACCOUNT_ID}:policy/${POLICY_NAME}"
        
          if aws iam get-policy --policy-arn "$POLICY_ARN" 2>/dev/null; then
              echo "IAM Policy already exists"
          else
              echo "Creating IAM Policy..."
              curl -fsSL -o iam_policy.json \
              https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v${{ env.LB_CONTROLLER_VERSION }}/docs/install/iam_policy.json
              aws iam create-policy --policy-name "$POLICY_NAME" --policy-document file://iam_policy.json
          fi
        
          echo "POLICY_ARN=$POLICY_ARN" >> $GITHUB_ENV
        
      - name: eks load balancer controller service account + role
        run: |
          eksctl create iamserviceaccount \
          --cluster=${{ inputs.cluster_name }} \
          --region=${{ env.AWS_REGION }} \
          --namespace=kube-system \
          --name=aws-load-balancer-controller \
          --attach-policy-arn=$POLICY_ARN \
          --override-existing-serviceaccounts \
          --approve
    
      - name: eks load balancer controller helm chart
        run: |
          helm repo add eks https://aws.github.io/eks-charts
          helm repo update
        
          helm upgrade --install aws-load-balancer-controller eks/aws-load-balancer-controller \
          --namespace kube-system \
          --set clusterName=${{ inputs.cluster_name }} \
          --set serviceAccount.create=false \
          --set serviceAccount.name=aws-load-balancer-controller \
          --set region=${{ env.AWS_REGION }} \
          --set vpcId=${{ inputs.vpc_id }} \
          --wait